body {
  margin: auto 30px;
  width: 90%;
  max-width: 1100px;
  margin: auto;
  padding: 0;
  color: #535b62;
  text-rendering: auto;
  background-color: #fff;
  font-family: Graphik Web Regular,
    sans-serif;
}

h1{
  font-size: 14px;
}